body{
    margin: 0;
    background-color: black;
    color: white;
}
#header {
    width: 100%;
    height: 180px;
    background-color: black;
    text-align: center;

}
#content {
    width: 100%;
    height: 7000px;
    display: grid;
    grid-template-columns: 10% 20% 60% 10%;
    position: relative;
}
#content1 {
    background-color: black;
    display: grid;
    grid-template-rows: 5% 95%;
    font-family: "Jersey 20";
    font-size: 30px;
}
#content2 {
    background-color: black;
}
#footer {
    width: 100%;
    height: 40px;
    
    background-color: black;
    bottom: 0;
    position: relative;
}
#menu {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 33px;
    font-family:'New Amsterdam', Tahoma, Geneva, Verdana, sans-serif;
}
#menubar {
    display:inline-block;
    padding-top: 20px;
    padding: 0;
    margin: 0;
}
li{
    float: left;
    margin-top: 20px;
    margin-left: 70PX;
    list-style: none;
}
#menu:hover{
    color: bisque;
}
p{
    padding: 0;
    margin: 0;
}
#copyright{
    color: antiquewhite;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}
#profimg{
    background-image: url("../resources/Screenshot\ 2024-07-02\ 185606.png");
    background-repeat:no-repeat;
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
}