body{
    background-color: black;
    color: white;

}
.menubar{
    height: 40px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.menuitem{
    font-family: 'Jersey 10';
    font-size: 40px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: 80px;
}
.menuitem:hover{
    color: wheat;
}
.content {
    width:60%;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-inline: auto;
    font-family: 'Jersey 20';
    font-size: 30px;
    color: white;
}
.about{
    display: inline-block;
}
.footer{
    width:60%;
    text-align: center;
    margin: auto;
}